@inject HttpClient Http
@using Up.Common.Dto
@namespace Up.Client.Components

<input style="width: 60rem" list="autoCompletes"
       type="text"
       @oninput="OnInputAutoComplete"
       placeholder="@placeholder">
<datalist id="autoCompletes">
    @foreach (var item in autoCompletes)
    {
        <option value="@item">@item.Split(" ").Last()</option>
    }
</datalist>


@code {
    private string placeholder = "@department=... @position=...";
    const string DepartmentPrefix = "@department=";
    const string PositionPrefix = "@position=";
    private List<string> autoCompletes = [DepartmentPrefix, PositionPrefix];
    private Dictionary<string, Position> availablePositions = [];
    private Dictionary<string, Department> availableDepartments = [];

    async protected override Task OnInitializedAsync()
    {
        availablePositions = (await Http.GetFromJsonAsync<List<Position>>("position") ?? [])
            .ToDictionary(p => string.Join("", p.PositionName.Split(" ")));
        availableDepartments = (await Http.GetFromJsonAsync<List<Department>>("department") ?? [])
            .ToDictionary(d => string.Join("", d.DepartmentName.Split(" ")));
    }

    private void OnInputAutoComplete(ChangeEventArgs e)
    {
        var input = e.Value!.ToString()!;
        var last = LastWord(input);
        IEnumerable<string> suggestions;
        if (last.StartsWith(DepartmentPrefix))
        {
            suggestions = StartsWith(last[DepartmentPrefix.Length..], availableDepartments.Keys);
            var lastAfterEqual = last.Split("=").Last();
            autoCompletes = suggestions.Select(s => input[..^lastAfterEqual.Length] + s).ToList();
        } else if (last.StartsWith(PositionPrefix))
        {
            suggestions = StartsWith(last[PositionPrefix.Length..], availablePositions.Keys);
            var lastAfterEqual = last.Split("=").Last();
            autoCompletes = suggestions.Select(s => input[..^lastAfterEqual.Length] + s).ToList();
        }
        else
        {
            suggestions = StartsWith(last, [DepartmentPrefix, PositionPrefix]);
            autoCompletes = suggestions.Select(s => input[..^last.Length] + s).ToList();
        }
        Console.WriteLine(autoCompletes.Aggregate("", (s, s1) => s + " " + s1));
        
        StateHasChanged();
    }
    private static string LastWord(string input)
    {

        var split = input.Split(" ");
        return (split.LastOrDefault() ?? "").Trim();
    }

    private IEnumerable<string> StartsWith(string s, ICollection<string> targets)
    {
        Console.WriteLine("StartsWith: " + s + " options: " + targets.Aggregate("", (s1, s2) => s1 + s2));
        return targets
            .Where(target =>
                {
                    if (s.Length > target.Length)
                        return false;

                    return !s.Where((t, i) => t != target[i]).Any();
                }
            )
            .ToList();
    }
}