@inject HttpClient Http
@page "/"
@using Up.Common.Dto

<PageTitle>Home</PageTitle>

@if (company != null)
{
    <h2>@company.CompanyName</h2>
    <h5>@company.CompanyInfo</h5>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    Company? company;

    async protected override Task OnInitializedAsync()
    {
        company = await Http.GetFromJsonAsync<Company>("company");
    }
}